<html>

<head>
	<title>Game details</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<div id="gameDetails"></div>
	<div id="template">
		<h3 class="game-header">
			<!-- <span class="game-id"></span>  -->
			<span class="game-title"></span>
		</h3>
		<img class="game-image" alt="game-image" height="70%" width="60%">
		<h4 class="description">Description</h4>
		<p class="game-description"></p>

		<h4 class="genre">Genre</h4>
		<p class="game-genre"></p>
		<h4 class="publisher">Publisher</h4>
		<p class="game-publisher"></p>
		<h4 class="release-date">Release Date</h4>
		<p class="game-release-date"></p>
	</div>

 	<script src="../models/Game.js"></script>
	<script src="../views/gameDetails.js"></script>
</body>

</html>